<html>
  <head>
    <title>Welcome to ansible</title>
  </head>
  <body>
  <h1>Nginx, configured by Engr. Pretei Lemo</h1>
  <h1>Welcome to Pretei's test deployment</h1>
  <h1>contact me at (716) 361-2855 USA</h1>
  <p>If you can see this, Ansible successfully installed nginx.</p>

  <p>Running on {{ inventory_hostname }}</p>
  </body>
</html>
