<html>
  <head>
    <title>Welcome to ansible</title>
  </head>
  <body>
  <h1>Nginx, configured by Engrs Pretei Lemo, Odile Domingo and Gerald Agbonye</h1>
  <h1>Welcome to Group3:Pipeline's Ansible deployment</h1>
  <h1>contact us at (716) 361-2855 USA</h1>
  <p>If you can see this, we have successfully graduated from Etech. Congratulations!!!</p>

  <p>Running on {{ inventory_hostname }}</p>
  </body>
</html>
